/*  your css code here. If applicable */
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

table{
	border-width:1px 1px 0px 0px;
	/* border-bottom-width:1px; */
	border-color:orange;
	border-style:solid;
	border-collapse:collapse;
	
}
thead{
	background-color:#888;
	color:white;
	
}
th,td{
	text-align:center;
	border:1px solid orange;
	padding:3px 5px;
	background-color:rgb(136,136,136);
}
.sub-total-text{
	text-align:right;
}