/*  your css code here. If applicable */
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

table{
	border-left-width:1px;
	border-bottom-width:1px;
	border-color:orange;
	border-style:solid;
	border-collapse:collapse;
	
}
thead{
	background-color:#888;
	color:white;
	
}
th,td{
	text-align:center;
	border:1px solid orange;
	padding:3px 5px;
}
.sub-total-text{
	text-align:right;
}